.tb1{
    width: 100%;
}
.tr1{
    background-color: orange;
    height: 100px;
}
.tr2{
    background-color: olive;
    height: 393px;
}
.tr3{
    background-color: blue;
    height: 250px;
}
.tr4{
    background-color: gray;
    height: 200px;
}