.div1{
    background-color: red;
    width: 500px;
    height: 500px;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
}
.div3{
    background-color: blue;
    width: 500px;
    height: 500px;
    float: left;
    position: absolute;
    top: 250px;
    left: 250px;
}
.div2{
    background-color: green;
    width: 500px;
    height: 500px;
    float: left;
    position: absolute;
    top: 500px;
    left: 500px;
}
.div0_1{
    border: black;
    border-style: solid;
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0%;
    left: 25%;
    right: 50%;
}